#include <windows.h>
IMG_icon RCDATA "../res/icon.png"
IMG_shootinggallery RCDATA "../res/shootinggallery.jpg"
IMG_brewery RCDATA "../res/brewery.jpg"
IMG_drillcavern RCDATA "../res/drillcavern.jpg"
IMG_drillcavern_night RCDATA "../res/drillcavern_night.jpg"
IMG_fissure RCDATA "../res/fissure.jpg"
IMG_fissure_night RCDATA "../res/fissure_night.jpg"
IMG_fourpoints RCDATA "../res/fourpoints.jpg"
IMG_shattered RCDATA "../res/shattered.jpg"
IMG_trailerpark RCDATA "../res/trailerpark.jpg"
IMG_trailerpark_night RCDATA "../res/trailerpark_night.jpg"
IMG_trailerpark_mu RCDATA "../res/trailerpark_mu.jpg"
IMG_spires RCDATA "../res/spires.jpg"
IMG_tower RCDATA "../res/tower.jpg"
IMG_shippingyard RCDATA "../res/shippingyard.jpg"
IMG_twoports RCDATA "../res/twoports.jpg"
